@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  float: left;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: #140A25;
  font-size: 13px;
  font-size: 3.5vw;
  flex-direction: column;
  @media screen and (min-width: 1440px) {
    font-size: 13px;
  }
}

.container {
  background-color: #fff;
  max-width: 1440px;
  position: relative;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  width: 100%;
  @media screen and (min-width: 771px) {
    background-image: url("../images/Header-desktop.png");
    font-size: 13px;
    font-size: 1.5vw;
  }
  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}
/*.backgroundContainer {
  background-color: #fff;
  border-radius: 10px;
  width: 1040px;
  float: left;
  margin-top: 10%;
} */

.header {
  width: 100%;
  float: left;

  .logo {
    width: 40%;
    float: left;
    height: 100%;
    margin: 8%;
    @media screen and (min-width: 771px) {
      width: 20%;
      margin: 4% 8% 8% 7%;
      color: #DB2B30;
    }

    svg {
      width: 180%;
      height: 150%;
      margin-bottom: 13%;

      .d {
        fill: #fff;
        @media screen and (min-width: 771px) {
          fill: #140A25;
        }
      }

      .b {
        fill: #fff;
        @media screen and (min-width: 771px) {
          fill: #DB2B30;
        }
      }
      @media screen and (min-width: 771px) {
        width: 125%;
        height: 90%;
      }
    }
  }

  .menuUl {
    text-decoration: none;
    list-style-type: none;
    display: none;
    float: right;
    margin-right: 4%;
    margin-top: 2%;
    color: #fff;
    @media screen and (min-width: 771px) {
      display: flex;
    }

    li {
      text-decoration: none;
      padding: 15px;

      a {
        text-decoration: none;
      }
    }
  }

  .specialButton {
    font-weight: bold;
    background-color: #fff;
    border-radius: 50px;
    margin-left: 13px;
  }

  .getStarted {
    color: #DB2B30;
  }

  .menuColors {
    color: #fff;
  }
}
// 1 - Text proprieties

.textContainer {
  width: 100%;
  float: left;
}

.title {
  font-weight: 900;
  font-size: 22px;
  font-size: 6vw;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1;
  width: 61%;
  margin-top: 8%;
  @media screen and (min-width: 771px) {
    font-size: 4vw;
    margin-top: 3%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 58px;
  }
}

.titleTop {
  font-weight: 900;
  font-size: 22px;
  font-size: 6vw;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1;
  width: 66%;
  margin-top: 8%;
  @media screen and (min-width: 771px) {
    font-size: 4vw;
    width: 43%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 58px;
  }

  &.top {
    margin-top: 26%;
    @media screen and (min-width: 771px) {
      margin-top: 0;
    }
  }
}

.subTitle {
  font-weight: 900;
  font-size: 16px;
  font-size: 5vw;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 7%;
  line-height: 1;
  margin-bottom: 1%;
  @media screen and (min-width: 771px) {
    font-size: 2.3vw;
    width: 31%;
    font-weight: 900;
    margin-top: 2.1%;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    font-size: 34px;
  }

  &.steps {
    @media screen and (min-width: 771px) {
      width: 65%;
      margin-top: 8.1%;
      margin-left: 11%;
      margin-bottom: 3%;
    }
  }

  &.red {
    @media screen and (min-width: 771px) {
      margin-top: 7.1%;
      width: 86%;
    }
  }
}

.titleBanner {
  font-weight: 900;
  font-size: 22px;
  font-size: 6vw;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1;
  width: 61%;
  margin-top: 8%;
  @media screen and (min-width: 771px) {
    font-size: 4vw;
    margin-top: 0;
    color: #fff;
  }
  @media screen and (min-width: 1440px) {
    font-size: 58px;
  }
}

.smallTitle {
  width: 43%;
  font-weight: 900;
  font-size: 22px;
  font-size: 6vw;
  margin-left: 7%;
  margin-right: 7%;
  line-height: 1;
  width: 60%;
  margin-top: 8%;
  @media screen and (min-width: 771px) {
    font-size: 4vw;
    margin-top: -11.4%;
    color: #fff;
    width: 32%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 58px;
  }
}

.text {
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 3%;
  line-height: 1;
  @media screen and (min-width: 771px) {
    width: 52%;

    &.cardsText {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.thinText {
  font-weight: 400;
}

.alignRight {
  text-align: right;
  float: right;
}

.alignRightTop {
  text-align: right;
  float: right;
  @media screen and (min-width: 771px) {
    text-align: left;
    float: left;
  }
}

.alignLeft {
  text-align: left;
  float: left;
}

.alignCenter {
  text-align: left;
  float: left;
  @media screen and (min-width: 771px) {
    margin-left: 7%;
    text-align: center;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.close {
  margin-top: 2%;
  @media screen and (min-width: 771px) {
    margin-top: -2%;
    color: #fff;
  }
}

.marginLeft {
  margin-left: 7%;
}

.whiteSpace {
  white-space: pre;
  line-height: 1.4;
}

.textPadding {
  padding: 5% 10%;
}

.smallText {
  font-size: 13px;
  font-size: 3vw;
  padding-top: 10%;
  margin-left: -13%;
  @media screen and (min-width: 771px) {
    font-size: 1.5vw;
  }
  @media screen and (min-width: 1440px) {
    font-size: 22px;
  }
}

.strongText {
  font-size: 20px;
  font-size: 3.8vw;
  @media screen and (min-width: 771px) {
    font-size: 1.8vw;
  }
  @media screen and (min-width: 1440px) {
    font-size: 26px;
  }
}

.textFooter {
  width: 40%;
}
// 2.0 - Box proprieties

.boxWrapper {
  margin-top: 7%;
  display: flex;
  width: 100%;
  @media screen and (min-width: 771px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;

    &.lg {
      margin-left: 7.8%;
      flex-wrap: nowrap;
    }

    &.ls {
      flex-wrap: wrap;
    }
  }
}

.boxColumn {
  display: flex;
  flex-direction: column;
  border-radius: 6%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
  // margin-left: 2%;
  position: relative;
  float: left;
  width: 100%;
  margin-left: 7%;

  @media screen and (min-width:771px){
    margin-left: 0;
  }
}

.sm {
  width: 66%;
  margin-left: 7%;
  @media screen and (min-width: 771px) {
    width: 70%;
    margin-left: -1%;
  }
}

.lg {
  width: 100%;
}

.lf {
  margin-left: -27%;
  @media screen and (min-width: 771px) {
    margin-left: -17%;
  }
}

.lfs {
  margin-left: -61%;
  @media screen and (min-width: 771px) {
    margin-left: -33%;
  }
}

.margin-1 {
  margin-right: -10%;
}

.boxRow {
  display: flex;
  float: left;
  border-radius: 6%;
  height: 100%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
  position: relative;
  margin-left: 7%;
  margin-right: -7%;

  &.started {
    height: 66%;
  }
  @media screen and (min-width: 771px) {
    border-radius: 18px;
    margin-left: 0;

    &.started {
      height: 100%;
    }
  }
}

.marginBottom {
  margin-bottom: 2%;
}

.hidden {
  overflow: hidden;
}

.linkWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 7%;
  line-height: 1;
  padding: 10px 0;
  @media screen and (min-width: 771px) {
    padding: 6% 0;
  }

  a {
    text-decoration: none;
    color: #bbb;
    float: left;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
  }
}

.boxText {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  float: left;
  padding-bottom: 5%;
  @media screen and (min-width: 771px) {
    flex-direction: row;
    padding-bottom: 2%;
  }

  &.steps {
    @media screen and (min-width: 771px) {
      flex-direction: column;
    }
  }

  &.ready {
    padding-left: 8%;
    @media screen and (min-width: 771px) {
      padding-left: 0;
    }
  }

  .topMargin {
    margin-top: 2%;
  }
}

.boxTextCenter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  float: left;
  margin-bottom: 7%;
  text-align: center;
  float: left;
  margin-top: 5%;
  @media screen and (min-width: 771px) {
    padding: 3%;
  }

  .topMargin {
    margin-top: 2%;
  }
}

.boxHeader {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 16px;
  font-size: 6vw;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  line-height: 1;
  padding: 10%;
  border-radius: 7% 7% 0 0;
  @media screen and (min-width: 771px) {
    font-size: 3vw;
  }
  @media screen and (min-width: 1440px) {
    font-size: 44px;
  }

  &.firstBanner {
    background-image: url("../images/Hong-Kong.jpg");
  }

  &.secondBanner {
    background-image: url("../images/Brasil.jpg");
  }

  &.thirdBanner {
    background-image: url("../images/eua.jpg");
  }
}
// 2.1 - Box width

.boxWrapper {
  // margin-left: 13.5%;
  padding: 7px 7px 6%;

  .swiper-slide {
    width: 76%;
    height: auto;
    @media screen and (min-width: 771px) {
      width: 38%;
      margin-right: 5%;
    }

    &.contact {
      margin-right: -3%;
    }

    &.cardsWrapper {
      width: 76%;
      @media screen and (min-width: 771px) {
        width: 31%;
        margin: 0.5%;
      }
    }

    &.cardsWrapperColumn {
      @media screen and (min-width: 771px) {
        margin-bottom: 1.6%;
        width: 83%;
        margin-right: 1.2%;
      }
    }
  }
}
// 2.2 - Box elements

.ballDetail {
  font-weight: 900;
  font-size: 37px;
  font-size: 6vw;
  position: absolute;
  float: left;
  left: -4.6%;
  margin-top: 5%;
  border-radius: 50%;
  padding: 1.7%;
  color: #fff;
  text-align: center;
  width: 13.5%;
  @media screen and (min-width: 771px) {
    font-size: 3vw;
    left: -3%;
    margin-top: 0;
    width: 6.2%;
    padding: 0.5%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 46px;
  }
}

.divider {
  width: 85%;
  height: 1px;
  border-bottom: 0.4vw #d1d1d1 solid;
  margin-top: 7%;
  margin-left: 7%;
  margin-right: 7%;
  float: left;
  @media screen and (min-width: 771px) {
    border-bottom: 2px #d1d1d1 solid;
  }
}

.lineDetail {
  width: 3%;
  padding-bottom: 0;
  margin: 0;
  border-top-left-radius: 6%;
  border-bottom-left-radius: 6%;
}
// 3 - Colors

.gray {
  color: #888391;
}

.red {
  color: #DB2B30;
}

.white {
  color: #fff;
}

.black {
  background-color: #140A25;
  content: "5";
}

.darkBrown {
  background-color: #400D2A;
}

.brown {
  background-color: #5A142A;
}

.darkRed {
  background-color: #8F1D2C;
}

.pink {
  background-color: #DB2B30;
}

.orange {
  background-color: #DB4F2B;
}
// Footer

.footer {
  background-color: #140A25;
  display: flex;
  margin-top: 12%;
  padding-top: 10%;
  padding-bottom: 12%;
  width: 100%;
  align-items: center;
  @media screen and (min-width: 771px) {
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 1%;
  }
}

.logoFooter {
  width: 32%;
  float: right;
  margin-top: 2%;
  margin-left: 5%;
  //height: 100%;
  @media screen and (min-width: 771px) {
    width: 16%;
    margin-left: 21%;
  }
}

svg {
  width: 100%;
  height: 100%;

  &.partnerLogo {
    width: 39%;
    /* height: 100%; */
    float: right;
    padding-top: 1%;
    @media screen and (min-width: 771px) {
      padding-top: 0;
      width: 29%;
    }

    &.amazon {
      margin-top: -11%;
      @media screen and (min-width: 771px) {
        margin-top: -12%;
      }
    }
  }
}
// Adjusts

.marginBottom1 {
  margin-bottom: 33%;
  @media screen and (min-width: 771px) {
    margin-bottom: 0;
  }
}

.marginBottom2 {
  margin-bottom: 28%;
  @media screen and (min-width: 771px) {
    margin-bottom: 0;
  }
}

.marginBottom4 {
  margin-bottom: 28%;
  @media screen and (min-width: 771px) {
    margin-bottom: 0;
  }
}

.marginBottom5 {
  margin-bottom: 59%;
  @media screen and (min-width: 771px) {
    margin-bottom: 0;
  }
}

.marginBottom6 {
  margin-bottom: 33%;
  @media screen and (min-width: 771px) {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.paddingContact {
  padding: 15.5%;
}

.marginBottomContact {
  margin-bottom: 9%;
}
// Swiper

.swiper-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  @media screen and (min-width: 771px) {
    &.contact {}
  }
}

.marginTopTitle {
  margin-top: 16%;
  @media screen and (min-width: 771px) {
    margin-top: 6%;
  }
}

.btn {
  text-decoration: none;
  margin-top: 7%;
  background-color: white;
  border: none;
  padding: -14%;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2%;
  @media screen and (min-width: 771px) {
    margin-top: 8%;
    width: 100%;
    margin-left: 0%;
  }
}

.btn:hover {
  //  background-color: #9B1E22;
}

.toastNotification {
  opacity: 0;
  text-align: center;
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: #00000096;
  color: #fff;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  z-index: 300;
}

.blackBanner {
  width: 100%;
  /* display: flex; */
  /* height: 300px; */
  padding: -12%;
  /* height: 100%; */
  float: left;
  left: 0;
  margin-top: 12%;
  /* justify-content: center; */
  padding-top: -29%;
  /* align-items: center; */
  padding-top: 6%;
  padding-bottom: 5%;
  /* background-color: white; */
  @media screen and (min-width: 771px) {
    background-color: #140A25;
  }
}

.xg {
  margin-left: 2%;
}

.marginBottomBox1 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginBottomBox2 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginBottomBox3 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginBottomBox4 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginBottomBox5 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginBottomBox6 {
  @media screen and (min-width: 771px) {
    margin: 11%;
  }
}

.marginLeft4 {
  @media screen and (min-width: 771px) {
    margin-left: 12%;
  }
}

.desktopAdjust {
  @media screen and (min-width: 771px) {
    margin-left: 5%;
  }
}

.navButtons {
  width: 6%;
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  width: 13%;
  float: right;
  margin-right: 3%;
  display: none;
  margin-top: 2%;
  @media screen and (min-width: 771px) {
    display: flex;
  }
}

.prevButton {
  transform: rotate(-180deg);
  margin-bottom: 5%;
}

.contactArea {
  margin-top: -29%;
  @media screen and (min-width: 771px) {
    margin-top: -7%;
  }
}
