@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap');
$colorBorder: #eee;
$itemPadding: 0.5rem;

* {
  color: #333;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

h1 {
  padding: $itemPadding;
}

.icon {
  float: left;
  width: 0.8rem;
  height: 0.8rem;

  svg {
    display: block;
  }
}

.container {
  max-width: 30rem;
  margin: 0 auto;
}

.listWrapper {
  .item {
    display: flex;
    border-bottom: 1px solid $colorBorder;

    &:last-child {
      border-bottom: 0;
    }

    &.isDone {
      input {
        text-decoration: line-through;
        opacity: 0.4;
      }
    }

    .col.checkWrapper {}

    .col.nameWrapper {
      flex: 1;
      padding: 0;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: 0;
        background: transparent;
        padding: $itemPadding;
      }

      .removeButton {
        position: absolute;
        top: 50%;
        right: $itemPadding;
        transform: translateY(-50%);
      }
    }
    // @media screen and (min-width: 771px) {
      &:not(.isFocus){
        .col.nameWrapper {
          .removeButton {
            opacity: 0;
          }
        }
      }
      &:hover {
        .col.nameWrapper {
          .removeButton {
            opacity: 1;
          }
        }
      }
    // }

    &.lastItem {
      .col.checkWrapper {
        input {
          opacity: 0.4;
          pointer-events: none;
        }
      }

      .col.nameWrapper {
        .removeButton {
          display: none !important;
        }
      }
    }

    .col {
      border-right: 1px solid $colorBorder;
      padding: $itemPadding;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
